<header style="border-bottom: 20px solid #001254;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; box-shadow: 0 1px 2px 0 rgba(222, 222, 222, 0.6);">
    <div class="container">

      <a class="navbar-brand desktop" href="javascript:void(0);">
        <img src="assets/img/logo.jpg" class="for-desktop" alt="_logo">
      </a>
      <a href="javascript:void(0);" class="navbar-brand mobile">
        <img src="assets/img/logo-mobile.png" class="for-mobile" alt="_logo-mobile">
      </a>
      <div class="navbar-title">
        <div class="upper">
          Research Professional
        </div>
        <div class="lower">
          Platform
        </div>
      </div>
      <div class="vertical-line"></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Insights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="section-1">
  <div class="banner">
    <div class="tagline container h-100">
      <div class="display-table h-100">
        <div class="middle">
          <h2>
            ACME Wealth <br> Management Platforms
          </h2>
          <div class="pre-tagline">
            Investment excellence.
          </div>
          <div class="pre-tagline">
            Diversity of thought.
          </div>
          <div class="pre-tagline">
            Organizational strength.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class="container">
    <div class="tagline-wrapper">
      <div class="tagline-1">
        ACME Insights
      </div>
      <div class="tagline-2">
        How are factors being used around the world?
      </div>
    </div>
    <div class="cards">
      <div class="card-1">
        <div class="wrapper">
          <img src="assets/img/card_1.jpg" alt="card-1">
        </div>
        <div class="tagline tagline-1">
          Global Factor <br> Investing Study
        </div>
        <div class="line-1"></div>
      </div>
      <div class="card-2">
        <div class="wrapper">
          <img src="assets/img/card_2.jpg" alt="card-2">
        </div>
        <div class="tagline tagline-2">
          2019 <br> Outlook
        </div>
        <div class="line-2"></div>
      </div>
      <div class="card-3">
        <div class="wrapper">
          <img src="assets/img/card_3.jpg" alt="card-3">
        </div>
        <div class="tagline tagline-3">
          Capital Market <br> Assumptions
        </div>
        <div class="line-3"></div>
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="container h-100">
    <div class="display-table h-100">
      <div class="middle text-center">
        <div class="tagline">
          Our Commitment to Professionals
        </div>
        <div class="tagline-2">
          We help our partners deliver industry leading results with a commitment to excellence, thought-provoking insights and experienced distribution. We are laser focused on our shared goal - helping clients achieve their objectives.
        </div>
        <button>
          contact us
        </button>
      </div>
    </div>
  </div>
</section>

<section class="section-4">
    <div class="container">
    <div class="tagline-wrapper">
      <div class="tagline-1">
        Upcomming Events
      </div>
      <div class="tagline-2">
        This needs a great tagline, but I'll fill it in later
      </div>
    </div>
    <div class="cards">
      <div class="card-1">
        <span class="ribbon2">
          <span class="month">JAN</span>
          <span class="day">28</span>
        </span>
        <div class="tagline">
          Insight Exchange Network
          <div class="spacer5"></div>
          <span>
            Join us for this conference showcasing innovation.
          </span>
        </div>
        <div class="btn-wrapper">
          <button>Get More Insight</button>
        </div>
        <div class="location">
          <span class="city">Chicago,</span> <span class="state"> IL</span>
        </div>
      </div>
      <div class="card-2">
        <span class="ribbon2">
          <span class="month">FEB</span>
          <span class="day">12</span>
        </span>
        <div class="tagline">
          Citywide Buyer's Retreat
          <div class="spacer5"></div>
          <span>
            Find out how banks are responding to the challenging future of interest...
          </span>
        </div>
        <div class="btn-wrapper">
          <button>Get More Insight</button>
        </div>
        <div class="location">
          <span class="city">The Wagner,</span> <span class="state"> New York</span>
        </div>
      </div>
      <div class="card-3">
        <span class="ribbon2">
          <span class="month">MAY</span>
          <span class="day">6</span>
        </span>
        <div class="tagline">
          Research Exchange
          <div class="spacer5"></div>
          <span>
            Find the best online resources to help with your investments...
          </span>
        </div>
        <div class="btn-wrapper">
          <button>Get More Insight</button>
        </div>
        <div class="location">
          <span class="city">London,</span> <span class="state"> England</span>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="wrapper">
      <div class="contact-information">
        <div class="number"> Call us at 111-222-3333 <br> for more information</div>
      </div>
      <div class="social-media">
        <div class="share">
          Social Share : &nbsp; <img src="assets/img/twitter.png" alt="twitter">  <img src="assets/img/facebook.png" alt="facebook">  <img src="assets/img/linkedin.png" alt="linkedin">  <img src="assets/img/email.png" alt="email">
        </div>
      </div>
    </div>
  </div>
</footer>